.data-selection-interface {
    padding: 5px;
}

.figure-menu-column {
  margin: 10px;
}
.update-figure-button {
  margin: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: center;
}

/* plot preset selection tool*/
.radio-group .form-check {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: auto;
  border-color: #B52026;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  border-color: #B52026;
}

.qc-table-extra-buttons {
  display: flex;
  width: 30%;
  align-items: center;
  align-self: center;
}
.qc-menu {
  padding:10px;
  background-color: aliceblue;
}
.selection-area {
  width: 70%;
  max-width: 900px;
  min-width: 400px;
  margin: 5px;
  vertical-align: center;
  place-items: left;
  position:relative;
  padding: 5px;
}
.selection-action {
  min-width: 130px;
}
.selection-apply {
  min-width: 200px;
}
.selection-box{
  min-width: 200px;
}
.selection-to {
  min-width: 130px;
}

/* drop down flag menu in qc table */
.Select-menu-outer {
  display : block !important;
  margin-bottom: 3rem !important;
}

.welcome-header {
  background-color: #B52026;
  color: white
}

.figure-button {
  background-color: #B52026;
  color: white;
  border: 0;
}

.flag-progress-bar {
  border-radius: 0px;
}
.filter-by-time {
  margin: 5px;
}